<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
</head>
<body>
    <div class="top-bar">
        <span class="user-name">Hi, {{ request.user.username }}</span>
        {% if request.user.is_technik == True %}
        <a href="{% url 'technik_dashboard' %}" style="color: white; text-decoration:none">Technical Support Department</a>
        {% else %}
        <a href="{% url 'customer_dashboard' %}" style="color: white; text-decoration: none;">Technical Support Department</a>
        {% endif %}
        <button type="button" class="logout-button" onclick="location.href='/logout';">Log out</button>
    </div>
    <div class="dashboard-container">
        {% block content %}
        
        {% endblock %}
    </div>
</body>
</html>