<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'style_home.css' %}" />
</head>
<body>
    <a href="/" class="top-button">Technical Support Department</a>
    <div class="login-container">
        <center><h2>Log in</h2></center>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Log in</button>
            <button type="button" class="register-btn" onclick="location.href='/register';">Sign up</button>
        </form>
    </div>
</body>
</html>