<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Forms</title>
    <link rel="stylesheet" href="{% static 'style_my_tickets.css' %}"/>
</head>
<body>
    <h2>My Forms</h2>
    <ul>
        {% for ticket in tickets %}
            <li>
                {{ ticket.title }} - <span class="status">{{ ticket.status }}</span> - <a href="{% url 'view_ticket' ticket.ticket_id %}">Details</a> - <a href="{% url 'delete_ticket' ticket.ticket_id %}" onclick="return confirm('Are you sure you want to delete your form?');">Delete</a>
            </li>
        {% empty %}
            <li>No Forms</li>
        {% endfor %}
    </ul>
</body>
</html>