<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Sign up</title>
    <link rel="stylesheet" href="{% static 'style_home.css' %}" />
</head>
<body>
    <a href="/" class="top-button">Technical Support Department</a>
    <div class="register-container">
        <center><h2>Sign up</h2></center>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Sign up</button>
        </form>
    </div>
</body>
</html>
